.contact {
    max-width: 1024px;
    padding: 10px;
    margin: 30px auto;
}

.contact-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;

}

.card {
    width: fit-content;
    height: auto;
    border: solid 1px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-contact {
    margin: 5px;
    text-decoration: none;
}

@media (max-width: 900px) {
    .contact-container {
        flex-flow: wrap;
    }
}
