*,
*::before,
*::after {
  box-sizing: border-box;
}
.root {
  margin: 0 auto;
  text-align: center;
  font-family: "Montserrat", 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1024px;
  width: 100%;
  padding: 120px 100px;
  margin: 50px auto 0 ;
  margin-top: 50px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr;
  justify-content: space-between;
  align-items: center;
}

.greetings {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
}

.subtitle-1 {
  font-size: 3rem;
  margin: 0;
  color: #3498db;
  overflow: hidden;
  animation: typing 2s steps(40) 1s normal;
  white-space: nowrap;
}

@keyframes typing {
  from {
   width: 0;
  }

  to {
    width: 13rem;
  }
}

.subtitle-2 {
  font-size: 3rem;
  margin: 0;
  animation: moveText 2s steps(30) 1s normal;
  overflow: hidden;
  white-space: nowrap;
}

@keyframes moveText {
  from {
    transform: translateX(30%);
  }
  to{
    transform: translateX(0%);
  }
}

.text-1 {
  font-size: 1.5rem;
}

.n-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 1.2rem;
  margin: auto;
  max-width: 1024px;
  width: 100%;
}

.text-about {
  text-align: center;
  width: clamp(45ch, 60%, 75ch);
 line-height: 2rem;
 font-size: 1.2rem;
}

.h-container {
  padding: 40px;
  max-width: 1024px;
  margin: auto;
  width: 100%;
}

.habilities {
  display: flex;
  margin: 50px 0;
}

.my-stack {
  margin: 10px;
  border: solid 1px #DDD;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 10px;
}

.button {
  background-color: transparent;
  border: none;
  padding: none;
  cursor: pointer;
}

.apresentation {
  width: 300px;
  height: auto;
  border-radius: 150px;
  overflow: hidden;
}

.img-foto {
  width: 100%;
  height: auto;
  display: block;
}

footer {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px auto 0;
}

@media (max-width: 1024px) {
  .container {
    padding-top: 200px;
  }

  .apresentation {
    height: 150px;
    width: 150px;
  }

  .text-about {
    font-size: 1rem;
    padding: 0 20px;
  }
}

@media (max-width: 780px) {
  .root {
    margin-top: 0;
  }
  .container {
    margin: 0;
    padding-top: 150px;
    padding-left: 10px;
  }


}

@media (max-width: 480px) {
  .container {
    padding-top: 150px;
    flex-flow: wrap;
    margin: 0;
  }

  .subtitle-1 {
    font-size: 28px;
  }

  .subtitle-2{
    font-size: 28px;
  }

  .text-1 {
    font-size: 18px;
    padding: 10px;
  }

  .n-container {
    margin: 0;
    padding: 0;
  }

  .text-about {
    width: min(300px, 90%);
    padding: 5; 
    font-size: 16px;
    text-align: justify;
  }
}